<div class="card">
  <div class="card-image">
    <figure class="image">
      <img width="300px" src="{{this.urlToImage}}" alt="" />
    </figure>
  </div>
  <div class="card-content">
    <div class="media">

      <div class="media-content">
        <p class="title is-4">{{this.title}}</p>
        <p class="subtitle is-6">{{this.description}}</p>
      </div>
    </div>

    <div class="content">
    </div>
  </div>
</div>