<form action="/posts/create" method="post">
  <label>
    <input
      type="text"
      name="header"
      placeholder="Choose a descriptive title for what you want to share"
    />
  </label>
  <br />

  <label>
    <textarea
      name="description"
      placeholder="Write a brief summary of what you want to share"
      maxlength="300"
      cols="30"
      rows="4"
    ></textarea>
  </label>

  <button type="submit"> Create </button>
</form>