
<form action="/posts/create" method="post">

  <label> Header:
    <input type="text" name="header" />
  </label>

  <label> Description:
    <textarea name="description" cols="30" rows="4"> </textarea>
  </label>

  <button type="submit"> Post </button>
</form>