

<h3>Your Posts</h3>

<div class="posts-details"></div>
{{#each posts}}

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h6 class="card-title">{{this.header}}</h6>
      <p class="card-text">{{this.description}}</p>
    </div>
  </div>

  </div>

{{/each}}

  </div>

