<h2>Main thread</h2>

<div id="editor">MY POST</div>

<button id="editorSend">Send</button>
<section class="posts-details">

  {{#each posts}}
 
    {{>postCard this}}
    
  {{/each}}n
</section>

<a href="/posts/read-posts">Back</a>

<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>

<script src="/js/script.js"></script>
>>>>>>> bfb6bb02e0458ee5cf822ecc865514379c89a282
