<h2>Main thread</h2>

<section class="posts-details">

  {{#each posts}}
    <p>
      Header:
      {{this.header}}
    </p>
    <p>
    Description:
    {{this.description}}
    </p>
    
  {{/each}}
</section>

<a href="/posts/read-posts">Back</a>