{{!-- 

WE ARE NOT USING THIS FILE; WE CREATED ONE "LOGIN" IN THE "AUTH" FOLDER WITHOUT KNOWING THIS "LOGIN" FILE ALREADY EXISTED

<form action="/login" method="POST">
  <label>
    Username
    <input type="text" name="username" />
  </label>
  <label>
    Password
    <input type="password" name="password" />
  </label>

  <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}} --}}