body {
  margin: 0;
  padding: 0;
  margin-top: 7rem
}

.container {
  width: 50vw;
  margin: auto;
  margin-bottom: 2rem;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
}

#form {
  padding-top: 40px;
  text-align: center;
  margin-left: 10rem;
  margin-right: 10rem;
}

.profile {
  padding-top: 40px;
  text-align: center;
  margin-left: 10rem;
  margin-right: 10rem;
}

#delete-account {
  margin-top: 2rem;
}

.card {
  margin: 10px;
}
.hidden {
  display: none
}

@media only screen and (max-width: 1050px) {
  #form {
    margin-left: 0;
    margin-right: 0;
  }

  body {
    margin-top: 20rem
  }
}
