<h3>Update Your Information:</h3>

<form action="{{user_id}}/edit" method="post">
  <label>
    <input type="text" name="username" value="{{user.username}}" />
  </label>

  <label>
    <input type="text" name="email" value="{{user.email}}" />
  </label>

  <label>
    <input type="text" name="password" value="{{user.passwordHash}}" />
  </label>

  <button>Update</button>
</form>