
{{#if userInSession}}
  <h2>Hello, {{userInSession.username}}!</h2>
  <button>
    <a href="/edit-profile">Update Your Profile Information</a>
  </button> </br>
  <button>
    <a href="/user-profile">Delete Your Account</a>
  </button>
{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}