
{{#if userInSession}}
  <h2>Hello, {{userInSession.username}}!</h2>
  <button>
    <a href="/users/edit">Update Your Profile Information</a>
  </button> </br>
  <form action="/users/{{_id}}/delete" method="POST"> <!-- what is the correct path? -->
            <button>Delete Your Account</button>
  </form>
{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}