<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title-newseater">NewsEater</h1>
      <p class="homepage-paragraph">lorem ipsum something something </p>
    </div>
  </div>
</section>