<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>NewsEater</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    
    {{!-- <script type = "text/JavaScript">
         <!--
            function AutoRefresh( t ) {
               setTimeout("location.reload(true);", t);
            }
         //-->
      </script> --}}
  
  </head>

  <body>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/posts/read-posts">Read</a></li>
      <li><a href="/posts/create">Write</a></li>
      <li><a href="#">Newsfeed</a></li>
      <li><a href="/signup">Register</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/profile">Profile</a></li>
      {{!-- {{#if session.currentUser}} --}}
      <li><a href="/logout">Logout</a></li>
      {{!-- {{/if}} --}}
    </ul>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>