<h3>Update Your Information:</h3>

<form action="/edit-profile" method="post">
  <label>
    <input type="text" name="username" value="{{userInSession.username}}" />
  </label>

  <label>
    <input type="text" name="email" value="{{userInSession.email}}" />
  </label>

  <button type="submit">Update</button>
</form>