<div id="form">
  <h3>Fill the form below to login</h3>

  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}

  <form action="/login" method="POST">

    <label>

      <input type="email" name="email" placeholder="email" required />
    </label>
    <br />

    <label>
      <input type="password" name="password" placeholder="password" required />
    </label>

    <button type="submit">Login</button>

  </form>

  <p>
    Don't have an account? Register
    <a href="/signup">here</a>.
  </p>
</div>